<link rel="stylesheet" href="/css/nav.css">
<div class="flex-container animated">
    <h1 class="logo"><a class="link-item changeColor" href="/">jAd</a></h1>
    <ul class="navigation">
        <% if (!session) { %>
<!--            <li><a class="link-item changeColor" id="loginLink" href="#">Login</a></li>-->
<!--            <li><a class="link-item changeColor" id="registerLink" href="#">Register</a></li>-->
        <% } else { %>
                <li><a class="link-item changeColor" href="/members">Home</a></li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn">Actions</a>
                    <div class="dropdown-content">
                        <a id="blogPostLink" href="/members/create/post">Create a Blog Post</a>
                        <a id="editProfile" href="#">Edit your Profile</a>
                        <a href="messageUser">Send a Message</a>
                    </div>
                </div>
            </li>
            <li><a class="link-item changeColor" href="/logout/user">Log Out</a></li>
        <% } %>
    </ul>
</div>

<script>


</script>