<link rel="stylesheet" href="/css/nav.css">
<div class="flex-container animated">
    <h1 class="logo"><a class="link-item changeColor" href="#">AD</a></h1>
    <ul class="navigation">
        <li><a class="link-item changeColor"  id="homeLink" href="/">Home</a></li>
        <li><a class="link-item changeColor" href="#">About</a></li>
        <% if (!session) { %>
            <li><a class="link-item changeColor" id="loginLink" href="#">Login</a></li>
            <li><a class="link-item changeColor" id="registerLink" href="#">Register</a></li>
        <% } else { %>
            <li><a class="link-item changeColor" href="/members">Profile</a></li>
            <li><a class="link-item changeColor" href="/logout/user">Log Out</a></li>
        <% } %>
    </ul>
</div>