<link rel="stylesheet" href="/css/nav.css">
<div class="flex-container animated">
    <h1 class="logo"><a class="link-item changeColor" href="#">AD</a></h1>
    <ul class="navigation">
        <li><a class="link-item changeColor"  id="homeLink" href="#">Home</a></li>
        <li><a class="link-item changeColor" href="#">About</a></li>
        <% if (!loggedIn) { %>
            <li><a class="link-item changeColor" id="loginLink" href="#">Login</a></li>
            <li><a class="link-item changeColor" id="registerLink" href="#">Register</a></li>
        <% } else { %>
            <li><a class="link-item changeColor" href="/members">Profile</a></li>
            <li><a class="link-item changeColor" href="/logout/user">Log Out</a></li>
        <% } %>
        <div class="dropdown">
            <li><a class="link-item changeColor" href="#" class="dropbtn">Background</a></li>
            <div class="dropdown-content">
                <a href="#">Choose a color for the background</a>
              <a class="link-item changeColor" href="#" id="blackLink">Black</a>
              <a class="link-item changeColor" href="#" id="greenLink">Green</a>
              <a class="link-item changeColor" href="#" id="brownLink">Brown</a>
            </div>
          </div>
    </ul>
</div>