
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/homepage.css">

<body>

    <%- include ('./partials/_navigation') %>

    <div id="jsContent" class="container">
      <img src="/imgs/profile.png" alt="" height="500px">
    </div>

    <script src="/JavaScript/jQuery.js"></script>
</body>
</html>




