<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/homepage.css">
<body>
    <%- include ('./partials/_navigation') %>

    <div id="jsContent">
        <!--    JavaScript will fill this content out    -->
    </div>

    <script>

        let portfolio = `
            <div class="container animated portfolio">
                <div class="item">
                    <p class="growMe"><i>Welcome to my portfolio</span></i></p>
                    <p class="growMe"><i>A work in progress</span></i></p>
                </div>
            </div>
        `
        let register =  `
            <div class="container animated register">
                <div class="register-form">
                    <form action="/register/user" method="POST">
                            <h3>Register now!</h3>

                        <div class="input-item">
                            <p>Email:</p> <input type="email" name="email" id="email">
                        </div>
                        <div class="input-item">
                            <p>Username:</p> <input type="username" name="username" id="username">
                        </div>
                        <div class="input-item">
                            <p>Password:</p> <input type="password" name="password" id="password">
                        </div>
                        <div class="input-item">
                            <p>Confirm password:</p> <input type="password2" name="password2" id="password2">
                        </div>  
                        <div class="input-item loginBtn">
                            <button id="registerBtn">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        `
        let login = `
            <div class="container animated login">
                <div class="login-form">
                    <form action="/login/user" method="POST">
                        <h3>Login here</h3>
                        <div class="input-item">
                            <p>Email:</p> <input type="email" name="email" id="email">
                        </div>
                        <div class="input-item">
                            <p>Password:</p> <input type="password" name="password" id="password">
                        </div>
                        <div class="input-item loginBtn">
                            <button id="loginBtn">Login</button>
                        </div>

                    </form>
                </div>
            </div>
        `


        window.onload = (e) => {
            // Navbar Links
            let loginLink = document.querySelector('#loginLink')
            let homeLink = document.querySelector('#homeLink')
            let registerLink = document.querySelector('#registerLink')

            // JS Stuff happens here
            let docBody = document.querySelector('#jsContent')

            // Insert content in to the docBody
            docBody.innerHTML += portfolio

            // Grab the container after insert
            const container = document.querySelector('.container')

            // Style it
            container.style.backgroundColor = 'white';

            setTimeout(() => {
                    container.style.backgroundColor = 'black';
                }, 50)

            // Load other pages the same way with click listeners

            loginLink.addEventListener('click', (e) => {
                e.preventDefault()
                let docBody = document.querySelector('#jsContent')
                docBody.innerHTML = login
            })

            registerLink.addEventListener('click', (e) => {
                e.preventDefault()
                let docBody = document.querySelector('#jsContent')
                docBody.innerHTML = register

            })

        };

        // Links



    </script>
</body>
</html>