<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/animations.css">
<body>

    <%- include ('./partials/_navigation') %>

    <div id="jsContent" class="container">
        <div id="fullpage">
            <div class="section">
                <div class="item">
                    <p class="portfolioP rightSlideIn"><i>A developers portfolio</i></p>
                    <p class="portfolioPunder slideInLeft"><i>Work in progress</i></p>
                </div>       
            </div>
        </div>
    </div>
<!--    Nav to be included at the end of content otherwise covered by Javascript frame -->

    <script src="/JavaScript/jQuery.js"></script>

    <script>
        let element = document.querySelector('.rightSlideIn')

        element.addEventListener('animationstart', listener, false);
        element.addEventListener('animationend', listener, false);
        element.addEventListener('animationiteration', listener, false);

        function listener(event) {
            var l = document.createElement("li");
            switch(event.type) {
                case "animationstart":
                    console.log("Started: elapsed time is " + event.elapsedTime)
                break;
                case "animationend":
                    console.log("Ended: elapsed time is " + event.elapsedTime)
                break;
                case "animationiteration":
                    console.log("New loop started at time " + event.elapsedTime)
                break;
            }
            }
        

        console.log(element)
    </script>
</body>
</html>