body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.item p {
    font-size: 5rem;
    color: oldlace;
}

.animated {
    transition-property: background-color;
    transition-duration: 3s;
}

.changeColor {
    transition: color 2s;
}

.growMe {
    transition: font-size 2s, color 2s;
}

/* Register Form */

.register-form {
    height: 75vh;
    width: 500px;
    background-color: rgba(75,85,75, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
}

#registerBtn {
    margin: 10px;
    align-self: center;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: burlywood;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    align-self: center;
}

/* End Register Form */

.login-form {
    height: 60vh;
    width: 500px;
    background-color: rgba(0,0,255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
}

input {
    width: 250px;
    height: 35px;
    margin: 5px;
    font-size: 1rem;
    border: none;
}

.input-item p {
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
}

#loginBtn {
    margin: 10px;
    align-self: center;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: burlywood;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    align-self: center;
}

.loginBtn {
    display: flex;
    justify-content: center;
}

