body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
    /* color: #FFF7F7; */
    color: #FFF7F7;
}

a {
    color: #FFF7F7;
}

.portfolioP {
    font-size: 5rem;
    animation-duration: 2s;
    animation-name: slidein;
    text-align: center;
}

.portfolioPunder {
    font-size: 4.5rem;
    text-align: center;
} 

.container {
    height: 100vh;
    display: flex;
    background-color: #0D0C0C;
    align-items: center;
    justify-content: center;
}

/* Start User Posts*/

#userPosts {
    display: flex;
    margin: 0 80px;
    justify-content: space-around;
}

.postImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.post {
    text-align: center;
    width: 200px;
    /*border: white 2px solid;*/
    /*margin: 5px*/
}

/* End User Posts*/



/* Register Form */

.registerForm {
    padding: 75px;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

form h2 {
    font-size: 2rem;
    text-align: center;
}

/* End Register Form */

/* Login Form */

.loginForm {
    padding: 75px;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

input {
    width: 300px;
    height: 35px;
    margin: 5px;
    font-size: 1rem;
    border: none;
}


.input-item p {
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
}

#loginBtn, #registerBtn {
    margin: 10px;
    align-self: center;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: grey;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    align-self: center;
}

.loginBtn {
    display: flex;
    justify-content: center;
}

/* End Login Form */

/* About Page Starts */



#profile {
    display: flex;
    flex-direction: column;
}

.profileImage  {
    display: flex;
    width: 80vw;

}

.profileImage img {
    border-radius: 10px;
}

.profileImage h3 {
    font-size: 4rem;
    padding-left: 100px;
}

.profileImage p {
    font-size: 4rem;
    padding-left: 100px;
}

#sendToAbout:hover {
    cursor: grab;
    color: lightskyblue;
}
/* About Page Ends */