body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Teko', sans-serif;
    color: #FFF7F7;
}

a {
    color: #FFF7F7;
}

#postBtn {
    margin: 10px;
    align-self: center;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: grey;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    align-self: center;
}
#member-profile {
    padding-top: 20px;
}

.container {
    height: 100vh;
    display: flex;
    background-color: #0D0C0C;
    align-items: center;
    justify-content: center;
}

.left-side {
    width: 60vw;
    justify-content: center;
    align-items: center;

}

.right-side {
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
}

.both-sides {
    height: 95vh;
    display: flex;

}

/* User Post Start*/

#userPost {
    display: flex;
    width: 900px;
    flex-direction: column;
}

#postImg {

}

/* User Post End*/

/* Profile */

.user-photo img {
    max-height: 200px;
}